<!--Footer-->
<footer class="footer">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#">G<span class="link_menu position-relative">RIND</span></a></h3>
            <p class="links"><a href="#">TRANG CHỦ</a><strong> · </strong><a href="#">GIỚI THIỆU</a><strong> · </strong><a href="#">SẢN PHẨM</a><strong> · </strong><a href="#">HỖ TRỢ</a>
            <p class="company-name">GRIND.COM © 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div>
              <span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p class="link_menu position-relative"><span class="new-line-span">Nguyễn Văn Khối</span>TP HCM, VN</p>
            </div>
            <div>
              <i class="fa fa-phone footer-contacts-icon"></i>
              <p class="footer-center-info email text-left link_menu position-relative"> +84 777 869 002</p>
            </div>
            <div>
              <i class="fa fa-envelope footer-contacts-icon"></i>
              <p class="link_menu position-relative"> <a href="#" target="_blank">dohuy8485@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4 class="link_menu position-relative d-inline-block">Giới thiệu</h4>
            <p>Chuyên bán lẻ các dụng cụ, thiết bị năng lượng mặt trời và máy lọc nước. Đảm bảo hàng uy tín, chất lượng</p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>