<div class='container-fluid top_menu'></div>
<div class='filter'>
  <button
    class='btn btn-default'
    type='button'
    data-toggle='collapse'
    data-target='#mobile-filter'
    aria-expanded='true'
    aria-controls='mobile-filter'
  >Filters
    <span class='fa fa-filter pl-1'></span>
  </button>
</div>
<div id='mobile-filter'>
  <p class='pl-sm-0 pl-2'> Home | <b>All Breads</b></p>
  <div class='border-bottom pb-2 ml-2'>
    <h4 id='burgundy'>Filters</h4>
  </div>
  <div class='py-2 border-bottom ml-3'>
    <h6 class='font-weight-bold h6SPin'>Categories</h6>
    <div id='orange'>
      <span class='fa fa-minus'></span>
    </div>
    <form>
      <div class='form-group forgroup'>
        <input type='checkbox' id='artisan' />
        <label class='lalSPin' for='artisan'>Fresh Artisan Breads</label>
      </div>
      <div class='form-group forgroup'>
        <input type='checkbox' id='breakfast' />
        <label class='lalSPin' for='breakfast'>Breakfast Breads</label>
      </div>
      <div class='form-group forgroup'>
        <input type='checkbox' id='healthy' />
        <label class='lalSPin' for='healthy'>Healthy Breads</label>
      </div>
    </form>
  </div>
  <div class='py-2 border-bottom ml-3'>
    <h6 class='h6SPin font-weight-bold'>Accompainments</h6>
    <div id='orange'>
      <span class='fa fa-minus'></span>
    </div>
    <form>
      <div class='form-group forgroup'>
        <input type='checkbox' id='tea' />
        <label class='lalSPin' for='tea'>Tea Cakes</label>
      </div>
      <div class='form-group forgroup'>
        <input type='checkbox' id='cookies' />
        <label class='lalSPin' for='cookies forgroup'>Cookies</label>
      </div>
      <div class='form-group forgroup'>
        <input type='checkbox' id='pastries' />
        <label class='lalSPin' for='pastries'>Pastries</label>
      </div>
      <div class='form-group forgroup'>
        <input type='checkbox' id='dough' />
        <label class='lalSPin' for='dough forgroup'>Cookie Dough</label>
      </div>
      <div class='form-group forgroup'>
        <input type='checkbox forgroup' id='choco' />
        <label class='lalSPin' for='choco forgroup'>Chocolates</label>
      </div>
    </form>
  </div>
  <div class='py-2 ml-3'>
    <h6 class='h6SPin font-weight-bold'>Top Offers</h6>
    <div id='orange'>
      <span class='fa fa-minus'></span>
    </div>
    <form>
      <div class='form-group forgroup'>
        <input type='checkbox' id='25off' />
        <label class='lalSPin' for='25'>25% off</label>
      </div>
      <div class='form-group forgroup'>
        <input type='checkbox' id='5off' />
        <label class='lalSPin' for='5off' id='off'>5% off on artisan breads</label>
      </div>
    </form>
  </div>
</div>
<!-- Sidebar filter section -->
<section id='sidebar' class=''>
  <p> TRANG CHỦ | <b>SẢN PHẨM</b> | <b>CHI TIẾT SẢN PHẨM</b></p>
  <div class='border-bottom pb-2 ml-2'>
    <h4 id='burgundy' class='color_po'>DANH MỤC SẢN PHẨM</h4>
  </div>
  <div class='py-2 border-bottom ml-3'>
    <h6 class='h6SPin font-weight-bold'>Máy lọc nước</h6>
    <div id='orange'>
      <span class='fa fa-minus'></span>
    </div>
    <form>
      <div class='form-group forgroup'>
        <label class='lalSPin' for='artisan'>
          <a href='#' class='hover_color text-dark'>Máy lọc nước thông minh</a>
        </label>
      </div>
      <div class='form-group forgroup'>
        <label class='lalSPin' for='breakfast'>
          <a href='#' class='hover_color text-dark'>Máy lọc nước nóng lạnh</a>
        </label>
      </div>
      <div class='form-group forgroup'>
        <label class='lalSPin' for='healthy'>
          <a href='#' class='hover_color text-dark'>Máy lọc nước gia đình</a>
        </label>
      </div>
      <div class='form-group forgroup'>
        <label class='lalSPin' for='healthy'>
          <a href='#' class='hover_color text-dark'>Máy lọc nước công suất lớn</a>
        </label>
      </div>
      <div class='form-group forgroup'>
        <label class='lalSPin' for='healthy'>
          <a href='#' class='hover_color text-dark'>Máy lọc nước Hydrogen</a>
        </label>
      </div>
    </form>
  </div>
  <div class='py-2 border-bottom ml-3'>
    <h6 class='h6SPin font-weight-bold'>Điện năng lượng mặt trời</h6>
    <div id='orange'>
      <span class='fa fa-minus'></span>
    </div>
    <form>
      <div class='form-group forgroup'>
        <label class='lalSPin' for='healthy'>
          <a href='#' class='hover_color text-dark'>Máy nước nóng NLMT</a>
        </label>
      </div>

    </form>
  </div>
  <!--<div class="py-2 ml-3">
        <h6 class="h6SPin font-weight-bold">Top Offers</h6>
        <div id="orange">
          <span class="fa fa-minus"></span>
        </div>
        <form>
            <div class="form-group forgroup"> 
              <input type="checkbox" id="25off"> 
              <label class="lalSPin" for="25">25% off</label> 
            </div>
            <div class="form-group forgroup"> 
              <input type="checkbox" id="5off"> 
              <label class="lalSPin" for="5off" id="off">5% off on artisan breads</label> 
            </div>
        </form>
    </div>-->
</section>
<!-- products section -->
<section id='products' class='mt-3'>
  <div class='container pr-4'>
    {{! <div class="d-flex flex-row mt-4 mb-4">
            <div class="text-muted m-2" id="res"></div>
            <div class="ml-auto mr-lg-4">
                <div id="sorting" class="border rounded p-1 m-1"> 
                  <span class="text-muted">Hiển thị một kết quả duy nhất</span> 
                  <select name="sort" id="sort" class="selectSP">
                    <option value="popularity"><b>Thứ tự theo giá: thấp đến cao</b></option>
                    <option value="prcie"><b>Thứ tự theo giá: cao xuống thấp</b></option>
                  </select> 
                  </div>
            </div>
        </div> }}
    <div class='row pt-3'>
      <div class='card-wrapper'>
        <div class='cardProduct'>
          <!-- card left -->
          <div class='product-imgs'>
            <div class='img-display'>
              <div class='img-showcase'>
                <img
                  src='../images/maylocnuoc/May-loc-nuoc-Kangaroo-KG-2207P-300x300.jpg'
                  alt='shoe image'
                />
                <img
                  src='../images/maylocnuoc/May-loc-nuoc-nhiem-man-Kangaroo-KG3500AVTU-2-300x300.jpg'
                  alt='shoe image'
                />
                <img
                  src='../images/maylocnuoc/May-loc-nuoc-nhiem-man-Kangaroo-KG3500AVTU-3-300x300.jpg'
                  alt='shoe image'
                />
              </div>
            </div>
            <div class='img-select'>
              <div class='img-item'>
                <a href='#' data-id='1'>
                  <img
                    class='detail_img'
                    src='../images/maylocnuoc/May-loc-nuoc-Kangaroo-KG-2207P-300x300.jpg'
                    alt='shoe image'
                    alt='shoe image'
                  />
                </a>
              </div>
              <div class='img-item'>
                <a href='#' data-id='2'>
                  <img
                    class='detail_img'
                    src='../images/maylocnuoc/May-loc-nuoc-nhiem-man-Kangaroo-KG3500AVTU-2-300x300.jpg'
                    alt='shoe image'
                  />
                </a>
              </div>
              <div class='img-item'>
                <a href='#' data-id='3'>
                  <img
                    class='detail_img'
                    src='../images/maylocnuoc/May-loc-nuoc-nhiem-man-Kangaroo-KG3500AVTU-3-300x300.jpg'
                    alt='shoe image'
                  />
                </a>
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class='product-content'>
            <h2 class='product-title'>Kangaroo-KG-2207P</h2>
            <div class='product-rating'>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star'></i>
              <i class='fas fa-star-half-alt'></i>
              <span>4.7(21)</span>
            </div>

            <div class='product-price'>
              <p class='last-price'>Old Price: <span>$257.00</span></p>
              <p class='new-price'>New Price: <span>$249.00 (5%)</span></p>
            </div>

            <div class='product-detail'>
              <h2>about this item: </h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                eveniet veniam tempora fuga tenetur placeat sapiente architecto
                illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur, perferendis eius. Dignissimos, labore suscipit.
                Unde.</p>
              <!-- <ul>
                    <li>Color: <span>Black</span></li>
                    <li>Available: <span>in stock</span></li>
                    <li>Category: <span>Shoes</span></li>
                    <li>Shipping Area: <span>All over the world</span></li>
                    <li>Shipping Fee: <span>Free</span></li>
                  </ul> -->
            </div>

            <!-- <div class = "purchase-info">
                  <input type = "number" min = "0" value = "1">
                  <button type = "button" class = "btndetail">
                    Add to Cart <i class = "fas fa-shopping-cart"></i>
                  </button>
                  <button type = "button" class = "btndetail">Compare</button>
                </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='clearfix'></div>
<!--Pagination-->
<nav aria-label='Page navigation example' class='pagi_sp'>
  <ul class='pagination justify-content-end'>
    <li class='page-item disabled'>
      <a
        class='page-link'
        href='#'
        tabindex='-1'
        aria-disabled='true'
      >Previous</a>
    </li>
    <li class='page-item'><a class='page-link' href='#'>1</a></li>
    <li class='page-item'><a class='page-link' href='#'>2</a></li>
    <li class='page-item'><a class='page-link' href='#'>3</a></li>
    <li class='page-item'>
      <a class='page-link' href='#'>Next</a>
    </li>
  </ul>
</nav>

<!--******************************************-->

<div class='border-bottom mt-4'></div>